# Logs
logs
*.log
npm-debug.log*

# Dépendances
node_modules/
dist/
dist-ssr/
build/

# Fichiers système et IDE
.idea/
.vscode/
.DS_Store

# Fichiers d'environnement
.env
.env.local

# Backups et Zips
BackupV1/
*.zip